{% extends 'base.html.twig' %}

{% block body %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <ul class="nav nav-tabs" id="tabContent">
        <li class="active"><a href="/load" >Product</a></li>
        <li><a id="linkDefine" href="/define">Desigin</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" >

            <div class="box">
                <form class="form-inline" id="load-form" role="form" method="POST" action="/load">
                    <h1>Product Name: <span id="name1"></span>  </h1>     <br/>
                    <div class="box-header with-border">
                        <h3 class="box-title" style="text-align: center">Load product------- {{ app.user.username }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="text-align: center">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Product Name</label>
                                </div>
                                <div class="col-md-6">
                                    <select id="ProductList" name="productid">
                                        <option >Select option</option>
                                        {% for rs in result %}
                                            <option value="{{ rs.productid }}">{{ rs.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label> Detail</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" type="text" id="ProName" disabled name="_detailsload">
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Category</label>
                                </div>
                                <div class="col-md-6">
                                    <select id="cateload" name="_cateload">
                                        <option selected>Select option</option>
                                        {% for listCate in cate %}
                                            <option value="{{ listCate.cateid }}" >{{ listCate.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br/><br/>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Status</label>
                                </div>
                                <div class="col-md-6">
                                    <label>Instock
                                        <input class="ss" type="radio" id="Instock" value="0" name="_statusload">
                                    </label>
                                    <label>OutStock
                                        <input class="ss" type="radio" id="Outstock"  value="1" name="_statusload">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <!-- /.box-body -->
                    <div class="box-footer" style="text-align: center">
                        <div class="form-group">
                            <a href="home" class="btn btn-default btn-flat" type="submit">Home</a>
                            <button class="btn btn-info btn-flat" type="submit">Save As</button>
                            <button class="btn btn-success btn-flat" id="update" name="updateid" type="submit">Update</button>
                            <button id="delete" name="productid" class="btn btn-danger btn-flat" type="submit">Delete</button>
                        </div>
                    </div>

                </form>
                <!-- box-footer -->
            </div>
            <!-- /.box -->

        </div>

        <div class="tab-pane" id="access-security">
            content 0
        </div>
    </div>


    <script type="text/javascript">
        $(function changName() {
            $('#ProductList').on('change', function () {
                var that = $(this);
                //alert(that.val());
                var id = that.val();
                $.ajax('/load',{
                    data : {'id': id },
                    type:'POST',
                    dataType: 'json',
                    success:function(ret){
                        var info = ret;
                        $('#ProName').val(info['details']);
                        $('#cateload').val(info['cateid']);
                        if(info['status']){
                            $('#Outstock').prop("checked", true)
                        } else {
                            $('#Instock').prop("checked", true)
                        }
                        $('#delete').val(info['productid']);
                        $('#update').val(info['updateid']);
                        var pro_name = $("#ProductList option:selected").text();
                        document.getElementById("name1").innerHTML = pro_name;

                        var link = $('#linkDefine');
                        link.attr('href', '/define/' + id + '/' + pro_name);

                    }
                })

            });

            $('#delete').click(function(){
                //change action for form
                $("#load-form").attr("action", "/delete");
                //form.submit
                document.getElementById("#load-form").submit();
            })
            $('#update').click(function(){
                //change action for form
                $("#load-form").attr("action", "/update");
                //form.submit
                document.getElementById("#load-form").submit();
            })


        });

    </script>


{% endblock %}

